
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200;400;600&family=Nanum+Brush+Script&display=swap');
font {
  font-size: 42px;
  font-family: 'Josefin Sans', sans-serif;
  font-family: 'Nanum Brush Script', cursive;
}