
.navbara {
    color:#fff646 ;
}
.nav-link {
    display: inline-block;
    font-size: 23px;
    font-weight: bold;
    position: relative;
    color:
        #efcb00;
}
.nav-link:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color:
        #efcb00;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.nav-link:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

/* 
.prof {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

@media (max-width:1000px) {
    .prop img {
        
        display: none;
        visibility: none;
    }
} */